
<h1 class="display-1">{{heading}}</h1>


<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="row">
    <!-- Start name and date of birth row -->
    <div class="mb-2 col-lg-6">
      <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
      <div class="row">
        <label for="ownerName" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Firstname
        </label>
        <div class="col-md-10 col-lg-8"
             >
          <input type="text"
                 id="ownerName"
                 name="ownerName"
                 placeholder="Owner firstname"
                 class="form-control"
                 [(ngModel)]="owner.firstName"
                 required
                 >
          <div class="invalid-feedback">
            <!-- This is shown, when the form validation deems the name input to be invalid -->
            Firstname is required
          </div>
        </div>
      </div>
    </div>
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="ownerlastname" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Lastname
        </label>
        <div class="col-md-10 col-lg-8"
             >
          <input type="text"
                 id="ownerlastname"
                 name="ownerlastname"
                 placeholder="Owner lastname"
                 class="form-control"
                 [(ngModel)]="owner.lastName"
                 required
                 >
          <div class="invalid-feedback">
            Nachname is required
          </div>
        </div>
      </div>
    </div>
    <!-- End name and date of birth row -->
  </div>
  <div class="row">
    <!-- No row and col-* here. We want this to always span the whole width. -->
    <label for="ownerEmail" class="col-form-label text-md-end text-md-end text-muted col-md-2">
      Email
    </label>
    <div class="col-md-4">
        <input    type="text"
        class="form-control"
        id="ownerEmail"
        name="ownerEmail"
        placeholder="Enter email for owner"
        [(ngModel)]="owner.email"
        required
        >
        </div>
  </div>


  <div class="mt-4 d-flex flex-row">
    <button type="button"
            class="btn btn-danger"
            *ngIf="!modeIsCreate"
            >
      <i class="bi bi-trash"></i>
      Delete
    </button>
    <span class="flex-grow-1"></span>
    <button type="submit"
            class="btn btn-primary"
            [disabled]="!form.valid"
            type="submit"
            >
      {{submitButtonText}}
    </button>
  </div>
</form>
